/* All styles for your header Components live here */
.header-container {
  width: 100%;
  display: flex;
  font-size: 0.8rem;
  padding: 5px 0;
}

.image-thumbnail {
  border-radius: 50%;
  border: 1px solid #a0001e;
  height: 50px;
  width: 50px;
  margin-top: 10px;
}

.header-text {
  margin-top: 10px;
  padding: 0px 5px;
}

.header-title {
  display: flex;
  align-items: flex-start;
}

h3 {
  align-content: flex-start;
  margin: 0px;
}

p {
  align-content: flex-start;
  margin: 0px;
}
